<<<<<<< HEAD
﻿@{
    ViewBag.Title = "ĐĂNG NHẬP TRANG QUẢN TRỊ";
    Layout = null;
}
=======
﻿@model Demo1.Models.NGUOIDUNG

@{
    ViewBag.Title = "Đăng nhập admin";
    Layout = null;
}



>>>>>>> c4a09e5439a62284f0cf338ff661667fe350cd4d
<link href="~/Areas/Admin/Content/css/StyleLogin.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<head>
    <title>Login Admin</title>
</head>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/Areas/Admin/Content/img/logo_hutech.png" id="icon" alt="User Icon" />
            <h1>Login Admin</h1>
        </div>
        <h5 style="color:red; text-align:center"> @ViewBag.ThongBao</h5>

<<<<<<< HEAD
        @*@using (Html.BeginForm("Login", "LoginAdmin", FormMethod.Post, new { id = "formInput", @class = "form-control" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            <div>
                <div>
                    <input type="text" id="login" class="fadeIn second" name="username" placeholder="Tên đăng nhập">
                    <br />
                    @*@ViewData["Error1"]*@
                </div>
                <div>
                    <input type="password" id="password" class="fadeIn third" name="password" placeholder="Mật khẩu">
                    <br />
                    @*@ViewData["Error2"]*@
                </div>
                <div>
                    <a href="@Url.Action("Index", "HomeAdmin")"><input type="submit" class="fadeIn fourth" value="Đăng nhập" /></a>
                    
                </div>
            </div>
        @*}*@
    </div>
</div>
@*@section scripts {
        <script>
            $(document).ready(function () {
                $("#formInput").validate({
                    rules: {
                        username: {
                            required: true
                        },
                        password: {
                            required: true,
                        }
                    },
                    messages: {
                        username: {
                            required: "Không được để trống"
                        },
                        password: {
                            required: "Không được để trống",
                        }
                    }
                })
            });
        </script>
    }*@
=======
        @using (Html.BeginForm("Login", "LoginAdmin", FormMethod.Post, new { id = "formInput", @class = "form-control" }))
        {
            @Html.AntiForgeryToken()
            <div>
                <div>
                    <div class="col-md-10">
                        <input placeholder="Tên đăng nhập"
                               @Html.EditorFor(model => model.MSSV, new { htmlAttributes = new { @id = "login", @class = "fadeIn second" } })
                               @Html.ValidationMessageFor(model => model.MSSV, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div>
                    <div class="col-md-10">
                        <input type="password" placeholder="Mật khẩu"
                               @Html.EditorFor(model => model.PASS, new { htmlAttributes = new { @id = "password", @class = "fadeIn third" } })
                               @Html.ValidationMessageFor(model => model.PASS, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    <a href="#"><input type="submit" class="fadeIn fourth" value="Đăng nhập" /></a>
                </div>
            </div>
        }
    </div>
</div>

>>>>>>> c4a09e5439a62284f0cf338ff661667fe350cd4d
