﻿@model Demo1.Models.NGUOIDUNG

@{
    ViewBag.Title = "Register";
}

<h2 style="text-align:center">TẠO TÀI KHOẢN QUẢN TRỊ VIÊN MỚI</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            <input placeholder="Họ và tên" id="HOVATEN" type="text" name="HOVATEN"
                   @Html.EditorFor(model => model.HOVATEN, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.HOVATEN, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input placeholder="MSSV hoặc tên đăng nhập" id="MSSV" type="text" name="MSSV"
                   @Html.EditorFor(model => model.MSSV, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.MSSV, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <div class="col-md-10">
                <input name="GIOITINH" type="radio" value="1" />Nam
                <input name="GIOITINH" type="radio" value="0" />Nữ
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input placeholder="Số điện thoại" id="SDT" type="text" name="SDT"
                   @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input placeholder="Gmail" id="GMAIL" type="text" name="GMAIL"
                   @Html.EditorFor(model => model.GMAIL, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.GMAIL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input placeholder="Lớp " id="LOP" type="text" name="LOP"
                   @Html.EditorFor(model => model.LOP, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.LOP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Tạo thành viên" class="btn btn-primary" />
            <a href="@Url.Action("Index", "TaiKhoanAdmin")" class="btn btn-danger">
                Quay lại
            </a>
        </div>
    </div>
</div>
}


