<<<<<<< HEAD
﻿<!DOCTYPE html>
=======
﻿@using Demo1.Models
<!DOCTYPE html>
>>>>>>> c4a09e5439a62284f0cf338ff661667fe350cd4d
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Custom fonts for this template-->
    <link href="~/Areas/Admin/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Areas/Admin/Content/css/sb-admin-2.min.css" rel="stylesheet">

    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' })</script>
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul style="width:19rem;" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "HomeAdmin")">
                <div class="sidebar-brand-icon">
                    @*<i class="fas fa-laugh-wink"></i>*@
                    <img src="~/Areas/Admin/Content/img/logo_hutech.png" height="45px" width="45px" />
                </div>
                <div class="sidebar-brand-text mx-3">Hội Thao IT</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Tổng Quan -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "HomeAdmin")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Tổng Quan</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Danh Mục
            </div>

            <!-- Quản lý bộ môn thi đấu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo1"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-bars"></i>
                    <span>Quản lý bộ môn thi đấu</span>
                </a>
                <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Các thành phần:</h6>
                        <a class="collapse-item" href="@Url.Action("BongDaAdmin", "BoMonThiDauAdmin")">Bóng đá</a>
                        <a class="collapse-item" href="@Url.Action("BongChuyenAdmin", "BoMonThiDauAdmin")">Bóng chuyền</a>
                        <a class="collapse-item" href="@Url.Action("CauLongAdmin", "BoMonThiDauAdmin")">Cầu lông</a>
                        <a class="collapse-item" href="@Url.Action("KeoCoAdmin", "BoMonThiDauAdmin")">Kéo co</a>
                        <a class="collapse-item" href="@Url.Action("CoVua_CoTuongAdmin", "BoMonThiDauAdmin")">Cờ vua &amp; Cờ tướng</a>
                        <a class="collapse-item" href="@Url.Action("DienKinhAdmin", "BoMonThiDauAdmin")">Điền kinh</a>
                    </div>
                </div>
            </li>

            <!-- Quản lý lịch thi đấu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo2"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-bars"></i>
                    <span>Quản lý lịch thi đấu</span>
                </a>
                <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Các thành phần:</h6>
                        <a class="collapse-item" href="@Url.Action("LichBongDa", "LichThiDau")">Bóng đá</a>
                        <a class="collapse-item" href="@Url.Action("LichBongChuyen", "LichThiDau")">Bóng chuyền</a>
                        <a class="collapse-item" href="@Url.Action("LichCauLong", "LichThiDau")">Cầu lông</a>
                        <a class="collapse-item" href="@Url.Action("LichKeoCo", "LichThiDau")">Kéo co</a>
                        <a class="collapse-item" href="@Url.Action("LichCoVua_CoTuong", "LichThiDau")">Cờ vua &amp; Cờ tướng</a>
                        <a class="collapse-item" href="@Url.Action("LichDienKinh", "LichThiDau")">Điền kinh</a>
                    </div>
                </div>
            </li>

            <!-- Quản lý lệ phí hội thao -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo3"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-bars"></i>
                    <span>Quản lý lệ phí hội thao</span>
                </a>
                <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Các thành phần:</h6>
                        <a class="collapse-item" href="@Url.Action("LPBongDa", "LePhiHoiThao")">Bóng đá</a>
                        <a class="collapse-item" href="@Url.Action("LPBongChuyen", "LePhiHoiThao")">Bóng chuyền</a>
                        <a class="collapse-item" href="@Url.Action("LPCauLong", "LePhiHoiThao")">Cầu lông</a>
                        <a class="collapse-item" href="@Url.Action("LPKeoCo", "LePhiHoiThao")">Kéo co</a>
                        <a class="collapse-item" href="@Url.Action("LPCoVua_CoTuong", "LePhiHoiThao")">Cờ vua &amp; Cờ tướng</a>
                        <a class="collapse-item" href="@Url.Action("LPDienKinh", "LePhiHoiThao")">Điền kinh</a>
                    </div>
                </div>
            </li>

            <!-- Quản lý kết quả hội thao -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo4"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-bars"></i>
                    <span>Quản lý kết quả thi đấu</span>
                </a>
                <div id="collapseTwo4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Các thành phần:</h6>
                        <a class="collapse-item" href="@Url.Action("KQBongDa", "KetQuaHoiThao")">Bóng đá</a>
                        <a class="collapse-item" href="@Url.Action("KQBongChuyen", "KetQuaHoiThao")">Bóng chuyền</a>
                        <a class="collapse-item" href="@Url.Action("KQCauLong", "KetQuaHoiThao")">Cầu lông</a>
                        <a class="collapse-item" href="@Url.Action("KQKeoCo", "KetQuaHoiThao")">Kéo co</a>
                        <a class="collapse-item" href="@Url.Action("KQCoVua_CoTuong", "KetQuaHoiThao")">Cờ vua &amp; Cờ tướng</a>
                        <a class="collapse-item" href="@Url.Action("KQDienKinh", "KetQuaHoiThao")">Điền kinh</a>
                    </div>
                </div>
            </li>

<<<<<<< HEAD
            <!-- Đơn hàng -->
            <!--<li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "DonHang")">
            <i class="fas fa-fw fa-money-bill"></i>
            <span>Đơn Hàng</span>
        </a>
    </li>-->
=======
            
>>>>>>> c4a09e5439a62284f0cf338ff661667fe350cd4d
            <!-- Nhân Viên -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Tài Khoản</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Các thành phần:</h6>
                        <a class="collapse-item" href="@Url.Action("Index", "TaiKhoanAdmin")">Quản lý tài khoản</a>
                        <a class="collapse-item" href="@Url.Action("Index", "PhanQuyen")">Phân quyền tài khoản</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-gradient-primary topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <h3 class="navbar-nav ml-auto" style=" text-align: center; margin-right: 250px; margin-top: 15px;">QUẢN TRỊ WEBSITE HỘI THAO IT</h3>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<<<<<<< HEAD
                                @*@if (Session["TaiKhoanAdmin"] != null)
                                {
                                    NGUOIDUNG admin = (NGUOIDUNG)Session["TaiKhoanAdmin"];*@
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Họ và tên</span>
                                @*}*@
=======
                                @if (Session["TaiKhoanAdmin"] != null)
                                {
                                    NGUOIDUNG admin = (NGUOIDUNG)Session["TaiKhoanAdmin"];
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@admin.HOVATEN</span>
                                }
>>>>>>> c4a09e5439a62284f0cf338ff661667fe350cd4d
                                <img class="img-profile rounded-circle"
                                     src="~/Areas/Admin/Content/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Thông tin cá nhân
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cài đặt
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Login", "LoginAdmin")" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->

                <div class="container-fluid">

                    <div>
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Đồ án cơ sở 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đăng Xuất?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Chọn "Đăng Xuất" bên dưới nếu bạn muốn kết thúc phiên hiện tại.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <a class="btn btn-primary" href="@Url.Action("Login", "LoginAdmin")">Đăng Xuất</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Areas/Admin/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Areas/Admin/Content/vendor/jquery-easing/jquery.easing.compatibility.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Areas/Admin/Content/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Areas/Admin/Content/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Areas/Admin/Content/js/chart-area-demo.js"></script>
    <script src="~/Areas/Admin/Content/js/chart-pie-demo.js"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
</body>

</html>