<<<<<<< HEAD
﻿
=======
﻿@using Demo1.Models
>>>>>>> c4a09e5439a62284f0cf338ff661667fe350cd4d
@{
    ViewBag.Title = "Index";
}

<div>
    <div class="box">
        <h2 style="text-align:center; color: black; margin-top:10px">Quản Lý Tài Khoản</h2>
        <p>
<<<<<<< HEAD
            <a class="btn btn-primary" href="@Url.Action("TaoTaiKhoan")" style=" margin-left: 16px">Thêm tài khoản</a>
=======
            <a class="btn btn-primary" href="@Url.Action("Register","LoginAdmin")" style=" margin-left: 16px">Thêm tài khoản</a>
>>>>>>> c4a09e5439a62284f0cf338ff661667fe350cd4d
        </p>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-hover">
                <thead style="color:black; text-align:center">
                    <tr>
                        <th>
                            Quyền
                        </th>
                        <th>
<<<<<<< HEAD
                            Tên Tài Khoản
                        </th>
                        <th>
                            Họ Và Tên
                        </th>
                        <th>
                            Giới Tính
                        </th>
                        <th>
                            Năm Sinh
=======
                            Họ Và Tên
                        </th>
                        <th>
                            MSSV
                        </th>
                        <th>
                            Lớp
                        </th>
                        <th>
                            Giới tính
>>>>>>> c4a09e5439a62284f0cf338ff661667fe350cd4d
                        </th>
                        <th>
                            Số Điện Thoại
                        </th>
                        <th>
                            Gmail
                        </th>
<<<<<<< HEAD
                        <th>
                            Địa Chỉ
                        </th>
                        <th>
                            Ngày Đăng Ký
                        </th>
                        <th>
                            Trạng thái
                        </th>
=======
>>>>>>> c4a09e5439a62284f0cf338ff661667fe350cd4d
                        <th></th>
                    </tr>
                </thead>
                <tbody>
<<<<<<< HEAD
                    @*@foreach (var item in Model)
                    {*@
                        <tr style="color:black">
                            <td>
                                @*@Html.DisplayFor(modelItem => item.QUYEN.TENQUYEN)*@
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.USERNAME)*@
                            </td>

                            <td>
                                @*@Html.DisplayFor(modelItem => item.HOVATEN)*@
                            </td>
                            <td>
                                @*@if (item.GIOITINH == 1)
                                {*@
                                    <p>Nam</p>
                                @*}
                                else
                                {*@
                                    <p>Nữ</p>
                                @*}*@
                            </td>
                            <td>
                                @*@Html.ValueFor(modelItem => item.NAMSINH, "{0:dd/MM/yyyy}")*@
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.SDT)*@
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.GMAIL)*@
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.DIACHI)*@
                            </td>
                            <td>
                                @*@Html.ValueFor(modelItem => item.NGAYDANGKY, "{0:dd/MM/yyyy}")*@
                            </td>
                            <td>
                                @*@if (item.TRANGTHAI == 1)
                                {*@
                                    <span class="trangthai label-conhang">Hoạt Động</span>
                                @*}
                                else
                                {*@
                                    <span class="trangthai label-hethang">Khóa</span>
                                @*}*@
                            </td>
                            <td>
                                <a class="btn btn-primary" style="font-size:10px;" href="@*@Url.Action("Edit", new { id=item.USERNAME })*@"><i class="fa fa-fw  fa-pen"></i></a>
                                <a class="btn btn-danger" style="font-size:10px; margin-top:5px" href="@*@Url.Action("Delete", new { id=item.USERNAME })*@"><i class="fa fa-fw fa-trash"></i></a>
                            </td>
                        </tr>
                    @*}*@
=======
                    @foreach (var item in Model)
                    {
                        <tr style="color:black; text-align:center">
                            <td>
                                @item.MAQUYEN
                            </td>
                            <td>
                                @item.HOVATEN
                            </td>

                            <td>
                                @item.MSSV
                            </td>
                            <td>
                                @item.LOP
                            </td>
                            <td>
                                @if (item.GIOITINH == 1)
                                {
                                    <p>Nam</p>
                                }
                                else
                                {
                                    <p>Nữ</p>
                                }
                            </td>
                            <td>
                                @item.SDT
                            </td>
                            <td>
                                @item.GMAIL
                            </td>
                            <td>
                                <a class="btn btn-primary" style="font-size:10px;" href="@*@Url.Action("Edit", new { id=item.USERNAME })*@"><i class="fa fa-fw  fa-pen"></i></a>
                                <a class="btn btn-danger" style="font-size:10px;" href="@*@Url.Action("Delete", new { id=item.USERNAME })*@"><i class="fa fa-fw fa-trash"></i></a>
                            </td>
                        </tr>
                    }
>>>>>>> c4a09e5439a62284f0cf338ff661667fe350cd4d
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>

