<<<<<<< HEAD
﻿
@{
    ViewBag.Title = "Login";
    Layout = null;
}

=======
﻿@model Demo1.Models.NGUOIDUNG

@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
}
>>>>>>> c4a09e5439a62284f0cf338ff661667fe350cd4d
<link href="~/Content/styleLogin.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<<<<<<< HEAD
=======

>>>>>>> c4a09e5439a62284f0cf338ff661667fe350cd4d
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Đăng nhập</label>
        <input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab">Quên mật khẩu</label>
        <div class="login-form">

<<<<<<< HEAD
            @*@using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)*@
                <div class="sign-in-htm">

                    <div class="group">
                        <input placeholder="Tên đăng nhập hoặc MSSV" id="user" type="text" class="input" name="USERNAME">
                        @*@ViewData["Error1"]*@
                    </div>
                    <div class="group">
                        <input placeholder="Mật khẩu" id="pass" type="password" class="input" data-type="password" name="PASS">
                        @*@ViewData["Error2"]*@
                    </div>
                    <a href="@Url.Action("TrangChu", "Home")" class="group">
                        <input type="submit" class="button" value="Đăng nhập">
                    </a>
                    <div style="margin-top:10px; text-align:center" class="group">
                        @Html.ActionLink("Đăng ký", "Register")
                    </div>

                    <div class="hr"></div>
                    <h5 style="color:red; text-align:center"> @ViewBag.ThongBao</h5>

                </div>

            @*}*@
=======
            @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
            <div class="sign-in-htm">

                

                <div class="group">
                    <div class="col-md-10">
                        <input placeholder="MSSV" id="MSSV" type="number" class="input" name="MSSV"
                               @Html.EditorFor(model => model.MSSV, new { htmlAttributes = new { @class = "input" } })
                               @Html.ValidationMessageFor(model => model.MSSV, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="group">
                    <div class="col-md-10">
                        <input placeholder="Mật khẩu" id="PASS" type="password" class="input" name="PASS"
                               @Html.EditorFor(model => model.PASS, new { htmlAttributes = new { } })
                               @Html.ValidationMessageFor(model => model.PASS, "", new { @class = "text-danger" })
                    </div>
                </div>
                <a href="@Url.Action("TrangChu", "Home")" class="group">
                    <input type="submit" class="button" value="Đăng nhập">
                </a>
                <div style="margin-top:10px; text-align:center" class="group">
                    @Html.ActionLink("Đăng ký", "Register")
                </div>

                <div class="hr"></div>
                <h5 style="color:red; text-align:center"> @ViewBag.ThongBao</h5>

            </div>

            }
>>>>>>> c4a09e5439a62284f0cf338ff661667fe350cd4d
            <div class="for-pwd-htm">
                <div class="group">
                    <label for="user" class="label">Tên đăng nhập hoặc MSSV</label>
                    <input id="user" type="text" class="input">
                </div>
                <a href="@Url.Action("TrangChu","Home")" class="group">
                    <input type="submit" class="button" value="Gửi xác nhận">
                </a>
                <div class="hr"></div>
            </div>
        </div>
    </div>
</div>
<<<<<<< HEAD

=======
>>>>>>> c4a09e5439a62284f0cf338ff661667fe350cd4d
